<a href="https://colab.research.google.com/github/imruffin/FEMMESHackathon/blob/master/workshop_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Saving Your Work

Hopefully you have a Git account (or at least a google account).

**To save this notebook for yourself in your GitHub account (preferred):**
- Go to your GitHub home page.
- Click the `+` icon in the upper right corner and choose `new repository`
  - *repository: a folder on GitHub where you store code*
- Name your repository and click the green `create repository` button.
- Come back to this file.
- go to `File` --> `save a copy in GitHub` in the upper toolbar
- sign in to your GitHub account when prompted and save this in your new repository!


**To save this notebook in your google drive**
- go to `File` --> `save a copy in Drive` in the upper toolbar
- It's that easy.

---

# This is a text cell.

The typing format is called **Markdown**. 

Double click a text cell to edit!

To add a new text cell, click `+ Text` button in the toolbar above.

Press `"shift"` and `"return"` keys at the same time to update a text cell.

---

# Text Cell Formatting

## Here's a brief syntax guide to making your text cells look nice:

### Double-click on this cell to see the Markdown syntax (left) vs the updated cell appearance (right).

Press `"shift"` and `"return"` keys at the same time to update a text cell.

---
# Headings

# One hashtag is the largest heading size
## Two hashtags is smaller
### Three hashtags
#### Four hashtags
##### Five hashtags
is the same as plain typing
###### And six hashtags doesn't make it any smaller

---

^ three dashes adds a line across the cell to break up text.

# Fonts

*Sandwiching with one asterisk makes your font italicized.*

**Sandwiching with two asterisks makes your font bold.**

`Sandwiching with the backtick (found as the lowercase character on the tilda ~ symbol's key), NOT an apostrophe, often used to indicate this is a code snippet.`

---

# Lists

- Use a single dash
- to make
- a bullet list.


- [ ] and add square brackets (with a space between left and right!) 
- [ ] to make a task you can check off.
- [x] Replace the space inside the brackets with an `x` to check off the task!

# Getting Started: Hello World!

In [0]:
# This is a Python code cell!
# use a hashtag at the beginning of the line to tell the computer to skip over it
# this is also known as a "comment" in your code.

# Make sure to add comments to help you understand your code the next time you look at it!

## First, let's discuss variables

There are many variable types. A few important types are `integer`, `float`, `string`, `boolean`, and `list`.

### Variable Assignment

To assign a value of any type to a variable:
- pick a variable name that starts with a lowercase letter
  - underscores _ and numbers are allowed after the first letter
  - examples: `my_variable`, `my_Variable`, `myVariable2`, ...

### Integers and Floats

- `integers` are whole numbers (1, 2, 3, 4, 5, ...)
- `floats` are numbers that have decimal places (1.2, 3.8, 4.0) even if the decimal places are all 0!

In [0]:
# the variable name goes on the left, the value goes on the right:

x = 5   # x is now an integer of value 5.
z = 2

y = 5.0 # y is now a float (has significant figures in decimal places)


# To show the output of a variable or calculation, use a print() statement

print(x) # prints the integer 5

5

In [0]:
# You can use the +, -, *, / symbols for their usual mathematical meaning:
print(x+z)

# hit `shift` and `enter` keys at the same time to show this output

7

In [0]:
#-----------------------------------------#
# Task: assign 3 integers to variables    #
#       a, b, and c. Print the output     #
#       of all three multiplied together. #
#-----------------------------------------#

a =   # type an integer between = and # symbols
b = 
c = 

# now print the product of all three integers using a print statement:

##### Click for solution:

In [0]:
#-----------------------------------------#
# Task: assign 3 integers to variables    #
#       a, b, and c. Print the output     #
#       of all three multiplied together. #
#-----------------------------------------#

a = 1  # type an integer between = and # symbols
b = 2
c = 3

# now output the product of all three integers using a print statement:

print(a*b*c)

6

### Modulo: %

The % sign is an operator you may use on integers, called "modulo". 

`a%b` outputs the remainder of the division of b into a. 

Example: 
- The remainder of 7/2 is 1, since 7 = 2*3 + 1.
- Thus, 7%2 is equal to 1. 

**Note that if a is divisible by b, then a%b equals zero.**

i.e. 4%2 equals 0.

In [0]:
#-----------------------------------------#
# Task: Again assign integers to a, b,    #
#       and c. Predict the result a%b and #
#       a%c. Print a%b and a%c. Were your #
#       predictions correct?              #
#-----------------------------------------#

a =   
b = 
c = 

# type predictions into a comment:

# now print a modulo b and a modulo c:

#### Click for example solution:

In [9]:
a = 14 
b = 5
c = 7

# type predictions into a comment:
# a%b equals 4, and a%c equals 0.

# now print a modulo b and a modulo c:
print(a%b)
print(a%c)

4
0

### Strings

- To make a string, use either 'single' quotes or "double" quotes around the word you want to assign as a string.

- Strings can contain letters, spaces, and numbers

- Limited operations can be performed on strings

In [0]:
print("Hello World!")

first_string = "This is a string"

#---------------------------------------------------#
# Task: Print first_string.                         #
# Question: What is the difference                  #
#           between printing a string directly vs   #
#           printing a string-type variable?        #

# Your answer:                                       
#---------------------------------------------------#

##### Click for solution:

In [0]:
print("Hello World!")

first_string = "This is a string"

print(first_string)
#---------------------------------------------------#
# Task: Print first_string.                         #
# Question: What is the difference                  #
#           between printing a string directly vs   #
#           printing a variable of type string?     #

# Your answer: Printing a string directly, you need 
#              to make sure you use quotation marks 
#              around the string to indicate the word 
#              is a string-type rather than a variable. 
#              Printing a string type variable, you do 
#              NOT use quotation marks, so the computer 
#              knows the print() argument is a variable name.                         
#---------------------------------------------------#

Hello World!
This is a string

#### Printing multiple variables in one print statement and taking input.

In [0]:
# Use a comma between variables (strings, integers, floats) to print them side-by-side.

print("The product of 5*7 is ",5*7,"!")

some_string = "another word"
print("this is",some_string)

The product of 5*7 is  35 !
this is another word

In [0]:
# remember a number can be a string-type:
# you cannot perform math operations reserved for integers and floats on a string.
# instead, the string is repeated 7 times when multiplied by 7.

some_number_string = "7"

print("The product of 5 * the string",some_number_string," is ",5*some_number_string,"!")

The product of 5 * the string 7  is  77777 !

In [0]:
# The function input() takes what is typed from the keyboard, 
# converts it to a string, and stores it in the defined variable:

my_age = input("This string prompts the user to type. User, please type your age, then press enter: ")

print("OK, you are ",my_age,"years old.")

This string prompts the user to type. User, please type your age, then press enter: 3
OK, you are  3 years old.

## Exercise: Talking to your computer

Goal: write a program in the cell below that interacts with the user by asking the user 3 questions:

- What is your name?
- What is your age?
- What is your favorite color?

Make the program output a summary of what it has learned about you after you answer the three questions. For example, if I input Isabel, 21, and gray, the output may be: Your name is Isabel, you are 21, and your favorite color is gray.

In [0]:
# Write your code here

#### Click for potential solution:

In [0]:
# Write your code here

user_name = input("User, please type your name, then press enter: ")
user_age = input("User, please type your age, then press enter: ")
user_color = input("User, please type your favorite color, then press enter: ")

print("Hi ",user_name,", you are ",user_age,"years old and your favorite color is ",user_color,".")

User, please type your name, then press enter: gia
User, please type your age, then press enter: 21
User, please type your favorite color, then press enter: kinda greenish, but also a little blue
Hi  gia , you are  21 years old and your favorite color is  kinda greenish, but also a little blue .

# Logic, Lists, For Loops, and Functions

## Logic: `if`, `True`, and `False`

`if` statements and Boolean values are essential components of any program.


### if statement

An `if` statement reads as:
- `if` true statement:
  - then do something

In [2]:
# if statements are executed as follows:

if True:
  print("Hello World")

# ^the indentation is required for any line of code you want 
#  executed inside the if statement.

# running this cell shows that since the if statement is true, 
# the code inside the if statement is executed.

#---------------------------------------------------#
# Question: What happens when you run the cell      #
#           when you change True to False in the    #
#           if statement above? Why?                #
#                                                   #
# Your answer:                                       
#---------------------------------------------------#

Hello World

#### Click for solution:

In [0]:
#---------------------------------------------------#
# Question: What happens when you run the cell      #
#           when you change True to False in the    #
#           if statement above? Why?                #
#                                                   #
# Answer:  Nothing prints. Since the if statement
#          Boolean value is False, you are telling
#          the computer to ignore the code inside
#          the if statement.                            
#---------------------------------------------------#

if False:
  print("Hello World")

### The Boolean type

The Boolean type variable can take on two values: `True` and `False`.

You can assign a Boolean to a variable, such as:

`x = True`

or use a comparison between two numbers to make a Boolean statement. Here is a guide to comparison symbols, where `a` and `b` are numbers:

`a == b` : `a` is equal to `b`

`a != b` : `a` is NOT equal to `b`

`a < b` : `a` is less than `b`

`(a > b) and (a < c)` : `a` is greater than `b` AND `a` is less than `c`

`(a > b) or (a < c)` : `a` is greater than `b` OR `a` is less than `c`

In [6]:
# a comparison between two numbers outputs either True or False:

my_bool = 2 < 5 
# running the cell shows that the expression (2 < 5) has the value True.

print(my_bool)

True

In [12]:
# putting it all together:

if (2 < 5):
  print("2 < 5 is True.")

2 < 5 is True.

In [13]:
x = (5 != 7)
if x:
  print("5 is not equal to 7. This is a true statement")

5 is not equal to 7. This is a true statement

In [18]:
a = 7
b = 5
c = 2

if (a < b) or (a > c):
  print("This prints but the if statement below does not print.")

if (a < b) and (a > c):
  print("This does not print!")

This prints but the if statement below does not print.

## Lists

Lists are another data type in Python, just like integers, strings, and booleans.

You can put whatever data types you want in a list!

In [0]:
# example lists: you can mix and match types

my_first_list = [1,2,3,4] 

###

string_list = ["one","two","three","four"]

###

a = 1
b = 2
c = "this is a string!"
d = True

mixed_list = [a,b,c,d]

In [23]:
# You can add items to a list after it is created using list.append(item)

my_list = [1,2,3,4]

my_list.append(7)

print("The list now contains 7 at the end!")
print(my_list)

The list now contains 7 at the end!
[1, 2, 3, 4, 7]

In [26]:
# len(list) gives the length of (number of items in) a list:

my_list = [0,1,2,3]

length = len(my_list)

print("my_list has",length,"items in it.")

my_list has 4 items in it.

In [27]:
# checking whether a value is in a list can be used as a Boolean:

my_list = [0,1,2,3]

i = 3

if i in my_list:
  print(i,"is in my_list")

3 is in my_list

## For loops:

You can iterate through a list or a range of numbers using a `for` loop.

In [29]:
my_list = ["pie","cake","cookie"]

for item in my_list:
  print(item)

pie
cake
cookie

In [31]:
# to iterate through a range of consecutive integers starting from 0
# use the following syntax:

# NOTE range(10) does NOT include 10!

for item in range(10):
  print(item)

0
1
2
3
4
5
6
7
8
9

If you want to skip certain items during a for loop, such as even numbers in a range, use an `if` statement with `continue` as demonstrated below.

In [38]:
for item in range(10):

  if item%2 == 0: # if the number is even
    continue      # move to the next item

  print(item)

1
3
5
7
9

## Functions

A function allows you to perform an operation on any input and returns the desired output.

In [0]:
# There are two required components to every function:

def my_function(my_input): # this line defines the function and input variables
  return my_input          # this line is the function's output

# ^ note the indentation (one tab)
# this tells the computer that `return my_input` is part of my_function.

In [0]:
# here's a familiar example: 
# the function y(x) = m*x+b describing a line.

def y(x):
  m = 2.0 # slope of the line
  b = 1.0 # y-intercept of the line
  answer = m*x+b
  return answer

x = 5.0
output = y(x) # when you tell the computer to run the function, you are "calling" the function

# running this cell shows the expected output of 11.0
print("y(",x,") = ",output)

In [0]:
#---------------------------------------------------#
# Task: build a function that returns squares_list
#       filled with the square of each integer up to 
#       but not including an integer n. Run your function 
#       for n = 10 and check your return value with the
#       sample solution.
#---------------------------------------------------#

squares_list = []

# your code here

### Click for possible solution:

In [36]:
#---------------------------------------------------#
# Task: build a function that returns squares_list
#       filled with the square of each integer up to 
#       but not including an integer n. Run your function 
#       for n = 10 and check your return value with the
#       sample solution.
#---------------------------------------------------#

squares_list = []

def squaring_numbers(n):
  for num in range(n):
    squares_list.append(num*num)
  
  return squares_list


print(squaring_numbers(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Exercise: Fizz Buzz Function

Create a function that prints each number in the range 0 up to an input integer `n`, EXCEPT it must instead print "fizz" on every integer divisible by 3, "buzz" on every integer divisible by 5, and "fizz buzz" on integers divisible by both 3 and 5. Have your function return `None`. **`None` is a null value we  use as a 'dummy' return value since we don't care what this function returns-- only what it prints.**

You may need to look back through what you've learned so far, as this exercise uses several concepts.

*Call your function for n = 20 and make sure the output matches the sample solution output to check your work!!*

In [0]:
# your code here

### Click for possible solution

In [0]:
# your code here

def fizzbuzz(n):
  for i in range(n):

    if (i%3 == 0) and (i%5 == 0):
      print("fizz","buzz")
      continue    

    if i % 3 == 0:
      print("fizz")
      continue

    if i % 5 == 0: 
      print("buzz")
      continue

    else:
      print(i)

  return None

fizzbuzz(20)

# Finished! Save your work and move on to `workshop_2.ipynb`